!!!
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width initial-scale=1")
    link(rel='icon', type='image/ico', href='/assets/img/favicon.ico')
    title Gallery

    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/lightbox.css", rel="stylesheet")
    script(src="/assets/js/jquery-1.11.0.min.js")
    script(src="/assets/js/lightbox.min.js")

  body(style="background: grey; background-image: url(/assets/img/black-textile-pattern.jpg);")
    if facebook_appid
      #fb-root
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=#{facebook_appid}&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      .row
        .col-md-2
          .fb-like(data-layout='standard', data-action='like', data-show-faces='true', data-share='true')

    each row in items
      .row
        each item in row
          if item.type == 'image'
            .col-md-3
              a(href="/thumbs/#{item.dir}/1400/#{item.name}", data-lightbox=item.name, data-title='<a href="/images/#{item.path}">Full size image</a>')
                img.img-responsive(src="/thumbs/#{item.dir}/600/#{item.name}")
          if item.type == 'directory'
            .col-md-3
              a(href="/#{item.path}/")
                img.img-responsive(src="/assets/img/folder.png")
                h4(style="margin-left: 20px") #{item.name}
      br
