!!!
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width initial-scale=1")
    title Gallery

    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")

  body(style="background: grey; background-image: url(/assets/img/black-textile-pattern.jpg);")
    each row in items
      .row
        each item in row
          if item.type == 'image'
            .col-md-3
              a(href="/images/#{item.path}")
                img.img-responsive(src="/thumbs/#{item.dir}/600/#{item.name}")
          if item.type == 'directory'
            .col-md-3
              p "#{item.path}"
              a(href="/#{item.path}")
                img.img-responsive(src="/assets/img/folder.png")
                h4 #{item.name}
      br
